.first-header {
  color: black;
}

h1,
p,
h2,
h4 {
  font-family: sans-serif;
}

#assignment {
  font-family: sans-serif;
  text-decoration: none;
  text-decoration-style: none;
}

.para-header {
  font-weight: bold;
}

#note {
  font-weight: bold;
  color: crimson;
}
